.general{
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: grey;
}

#content{
    position: absolute;
    top: 15%;
    bottom: 0px;
    left: 15%;
    right: 0px;
    background-color: antiquewhite;
}

#header{
    position: absolute;
    top: 0px;
    bottom: 85%;
    left: 0px;
    right: 0px;
}

#menu{
    position: absolute;
    top: 15%;
    bottom: 0px;
    right: 85%;
    left:0px;
}