<link rel="stylesheet" href="/styles/schuelerAnlegen.css">
<div class="w3-container w3-blue">
    <h2>Schueler Anlegen</h2>
</div>
<form action="/schueler" id="viewContainer" class="w3-container" method="POST">

    <input name="vorname" class="form-control" placeholder="Vorname" required>

    <input name="nachname" class="form-control" placeholder="nachname" required>
    <input name="email" class="form-control" placeholder="email" required>
    <input name="anlegeID" class="form-control" placeholder="Registrierungscode" required>
    <p>
        <button class="btn btn-primary" type="submit">Absenden</button>
    </p>
</form>