<link rel="stylesheet" href="/styles/schuelerAnlegen.css">
<style>
<div class="w3-container w3-blue">
    <h2>Schueler Anlegen</h2>
</div>
<form id="viewContainer" class="w3-container">
    <p>
        <label>Vorname</label>
        <input class="w3-input" type="text">
    </p>
    <p>
        <label>Last Name</label>
        <input class="w3-input" type="text">
    </p>
    <p>
        <label>Email</label>
        <input class="w3-input" type="text">
    </p>
    <p>
        <button type="button" class="w3-button w3-blue" onclick="javascript:sendData()" >Absenden</button>
    </p>
</form>
<script>
    function sendData() {
        document.location.href = "/schuelerAnlegen?{name: bla, adresse: bla }";
    }
</script>